.center_element{
	max-width:50%;
	margin: 20px auto;
	background:transparent;
	border: 1px solid #C4C4C4;
	border-radius: 2px;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
	background: transparent repeat scroll 0% 0% #FFFFFF;
	padding: 0px 20px;
}
.wrap{
	width : 98%;
	margin: 0 auto;
	height: 0px;
}
		
.center_forms{
	position: absolute;
	border: 1px solid #C4C4C4;
	width: auto;
	height: auto;
	left: 50%;
	top: 50%;
	left:10%;
	margin: auto;
	margin-left: -150px;
	margin-top: -150px;
	border-radius: 2px;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
	background: none repeat scroll 0% 0% #FFFFFF;
	padding: 0px 20px;
}